<section class="container-fluid home-section-top" id="home">
    <div class="container desc-container text-center d-flex justify-content-center align-items-center flex-column">
        <div class="title-desc-container">
            <h2 class="home-section-mainTitleSub">Hi there my name is</h2>
           
            <h4 class="home-section-mainTitle">
                <span class="animated">M</span>
                <span class="animated">e</span>
                <span class="animated">l</span>
                <span class="animated">v</span>
                <span class="animated">i</span>
                <span class="animated">n</span>
                <span class="animated">a</span>
            </h4>


            <h2 class="mt-5 home-section-subTitle">I am Front End Web Developer</h2>
        </div>



        <!-- <div class="icon-container d-flex justify-content-center align-items-center">
            <i class="fa fa-linkedin icon ml-4" aria-hidden="true"></i>
            <i class="fa fa-github icon" aria-hidden="true"></i>
            <i class="fa fa-file icon" aria-hidden="true"></i>
        </div> -->
    </div>

</section>




<!-- <section class="container-fluid home-section-top" id="home">
    <div class="row home-section-row">
        <div class="col-lg-12 col-md-12 col-sm-12 home-section-col">
           
                <div class="title-desc-container text-center ml-5">

                    <h2 class="home-section-mainTitleSub">Hi there my name is</h2>
                    <h4 class="home-section-mainTitle">Melvina</h4>
                    <h2 class="mt-5 home-section-subTitle">I am Front End Web Developer</h2>

                    <i class="fa fa-linkedin icon" aria-hidden="true"></i>
                    <i class="fa fa-github icon" aria-hidden="true"></i>
                    <i class="fa fa-file icon" aria-hidden="true"></i>
                </div>

           
        </div>
    </div>

</section> -->