<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="slider ml-lg-5 ml-md-5 mt-5 py-lg-5">

                <div class="row">
                    <div class="col-md-4">

                        <div class="imgContainer ml-lg-n5 mt-lg-0 mt-md-0 ml-md-n5 mt-n5">

                            <!-- [ngClass]="{'image':true}" -->
                            <div class="image" *ngFor="let mobileProject of mobileProjects">
                                <!-- class={{imgC}} [ngClass]="{'image':true}" -->
                                <img src={{mobileProject.projectsImgUrl}} class="img-fluid" />

                            </div>

                        </div>
                    </div>


                    <div class="col-md-8">

                        <!-- slider -->
                        <div id="mobileProjects" class="carousel slide carousel-fade pr-lg-5 py-lg-0 py-4"
                            data-ride="carousel" data-interval="false">

                            <div class="carousel-inner">

                                <div class={{mobileProject.item}} *ngFor="let mobileProject of mobileProjects">
                                    <div class="content">

                                        <div class="title">
                                            {{mobileProject.projectTitle}}
                                        </div>

                                        <div class="desc pr-5">
                                            {{mobileProject.desc}}
                                        </div>

                                        <div class="d-flex justify-content-center justify-content-lg-start">
                                            <button class="btn readMoreBtn ml-1"
                                                *ngFor="let button of mobileProject.buttons"
                                                [routerLink]="['/details', mobileProject.id]">
                                                {{button.btnName}}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- indicators -->
                            <ol class="carousel-indicators indicators" *ngIf="mobileIndicators">

                                <li data-target="#mobileProjects" data-slide-to="0" class="active"></li>
                                <li data-target="#mobileProjects" data-slide-to="1"></li>
                                <li data-target="#mobileProjects" data-slide-to="2"></li>
                                <li data-target="#mobileProjects" data-slide-to="3"></li>
                                <li data-target="#mobileProjects" data-slide-to="4"></li>


                            </ol>
                            <!-- indicators -->

                            <!-- indicators -->
                            <!-- <ol class="carousel-indicators indicators"  *ngIf = "webIndicators">
                            
                                <li data-target="#productSlider" data-slide-to="0" class="active"></li>
                              
                            
                            
                            </ol> -->
                            <!-- indicators -->
                        </div>


                        <!-- slider -->
                    </div>

                    <div class="col-md-12 w-100 d-flex align-items-center justify-content-center">
                        <button (click)="showAll.emit()" class="btn showAllBtn">Show All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>