<section class="container-fluid about-section d-flex align-items-center" id="about">
    <div class="container">
        <div class="row about-section-row d-flex align-items-center">
            <div class="col-12">
                <h1 class="mainTitle text-center pb-5">About me</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img src="assets/images/img_photo.png" class="img-fluid profileImg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ">

                <h1 class="aboutMe-heading">Hi, I'm Melvina</h1>
                <p class="about-pg">
                    I am a graduate in Software and Web Development and am looking for
                    job opportunity in Software Development. I am a good team player.
                    problem solver and I like new challenges.
                    I would love to expend my current skills and learn new skills.
                </p>

                <a href="https://docs.google.com/document/d/1hpkwFqkyxQpTdNF2fESWyWXhBmd25u8uHckhsITLyzk/edit?usp=sharing">
                    <button mat-raised-button type="button" class="btn viewCvBtn">View CV</button>
                </a>

                
            </div>
        </div>

    </div>

</section>